.App {
  text-align: center;
  background: url('../public/image.jpg') no-repeat center center/cover ;
  position:absolute;
  height:100%;
  width:100%;
  font-family: 'Mukta', sans-serif;
}

.App input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

.App .search-button{
  text-align: center;
  padding: 1rem;
}






.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Temprature{
  float: left;
  width: 50%;
}

.wind{
  float: right;
  width: 50%;
}

.Humidity{
  float: left;
  width: 50%;
}

.Clouds{
  float: right;
  width: 50%;
}
